.highlight {
  border-left: 4px solid #0dcaf0;
  padding: 30px 20px;
  margin-bottom: 40px;
  border-radius: 5px;
}
.info {
  background: #eef7fb;
  color: #222;
}

.summary {
  color: #16191b;
  font-weight: bold;
  background: #dbf2fa;
  border-left: 4px solid #f00d15;
  padding: 30px 20px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.highlight-theory {
  border-left: 4px solid #f8af03;
  border-right: 4px solid #f8af03;
  padding: 30px 20px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.highlight-exercise {
  border-left: 4px solid #07c777;
  border-right: 4px solid #07c777;
  padding: 30px 20px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.highlight-FAQ {
  border-left: 4px solid #e709e3;
  border-right: 4px solid #e709e3;
  padding: 30px 20px;
  margin-bottom: 40px;
  border-radius: 15px;
}
